<a href="https://colab.research.google.com/github/sreenidhi2211/Start_DataAnalytics/blob/main/PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

here we installed pandas->used to analyse datasets

then we imported it

In [ ]:
import pandas as pd

In [ ]:
loan = pd.read_csv("/content/Loan payments data.csv")

then we created a variable called loan to read data from the data set ehich is in csv format

In [ ]:
print(loan)

         Loan_ID         loan_status  Principal  terms effective_date  \
0    xqd20166231             PAIDOFF       1000     30       9/8/2016
1    xqd20168902             PAIDOFF       1000     30       9/8/2016
2    xqd20160003             PAIDOFF       1000     30       9/8/2016
3    xqd20160004             PAIDOFF       1000     15       9/8/2016
4    xqd20160005             PAIDOFF       1000     30       9/9/2016
..           ...                 ...        ...    ...            ...
495  xqd20160496  COLLECTION_PAIDOFF       1000     30      9/12/2016
496  xqd20160497  COLLECTION_PAIDOFF       1000     15      9/12/2016
497  xqd20160498  COLLECTION_PAIDOFF        800     15      9/12/2016
498  xqd20160499  COLLECTION_PAIDOFF       1000     30      9/12/2016
499  xqd20160500  COLLECTION_PAIDOFF       1000     30      9/12/2016

       due_date     paid_off_time  past_due_days  age             education  \
0     10/7/2016   9/14/2016 19:31            NaN   45  High School or Below
1     10/7/2016    10/7/2016 9:00            NaN   50              Bechalor
2     10/7/2016   9/25/2016 16:58            NaN   33              Bechalor
3     9/22/2016   9/22/2016 20:00            NaN   27               college
4     10/8/2016   9/23/2016 21:36            NaN   28               college
..          ...               ...            ...  ...                   ...
495  10/11/2016  10/14/2016 19:08            3.0   28  High School or Below
496   9/26/2016  10/10/2016 20:02           14.0   26  High School or Below
497   9/26/2016   9/29/2016 11:49            3.0   30               college
498  11/10/2016  11/11/2016 22:40            1.0   38               college
499  10/11/2016  10/19/2016 11:58            8.0   28  High School or Below

     Gender
0      male
1    female
2    female
3      male
4    female
..      ...
495    male
496    male
497    male
498  female
499    male

[500 rows x 11 columns]

displayed data using print

<dataset>.head(n)->1st n rows "but by ddefault if n value is not given it takes n=5
<dataset>.tail(n)->last n rows
<dataset>.info()->info about dataset
<dataset>.describe()->statastical summary

In [ ]:
print(type(loan))

<class 'pandas.core.frame.DataFrame'>

to know the type of data used here

In [ ]:
loan.head(15)

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/8/2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
10,xqd20160011,PAIDOFF,300,7,9/10/2016,9/16/2016,9/11/2016 19:11,NaN,29,college,male
11,xqd20160012,PAIDOFF,1000,15,9/10/2016,10/9/2016,10/9/2016 16:00,NaN,39,High School or Below,male
12,xqd20160013,PAIDOFF,1000,30,9/10/2016,10/9/2016,10/7/2016 23:32,NaN,26,college,male
13,xqd20160014,PAIDOFF,900,7,9/10/2016,9/16/2016,9/13/2016 21:57,NaN,26,college,female
14,xqd20160015,PAIDOFF,1000,7,9/10/2016,9/16/2016,9/15/2016 14:27,NaN,27,High School or Below,male

In [ ]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Loan_ID         500 non-null    object
 1   loan_status     500 non-null    object
 2   Principal       500 non-null    int64
 3   terms           500 non-null    int64
 4   effective_date  500 non-null    object
 5   due_date        500 non-null    object
 6   paid_off_time   400 non-null    object
 7   past_due_days   200 non-null    float64
 8   age             500 non-null    int64
 9   education       500 non-null    object
 10  Gender          500 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 43.1+ KB

In [ ]:
loan.describe()

         Principal       terms  past_due_days         age
count   500.000000  500.000000      200.00000  500.000000
mean    943.200000   22.824000       36.01000   31.116000
std     115.240274    8.000064       29.38088    6.084784
min     300.000000    7.000000        1.00000   18.000000
25%    1000.000000   15.000000        3.00000   27.000000
50%    1000.000000   30.000000       37.00000   30.000000
75%    1000.000000   30.000000       60.00000   35.000000
max    1000.000000   30.000000       76.00000   51.000000

<dataSet>.columns->name of columns
<dataset>.shape->shape of dataset
<dataset>.dtypes->datatype of columns
<dataset>.index->index of information

In [ ]:
loan.columns

Index(['Loan_ID', 'loan_status', 'Principal', 'terms', 'effective_date',
       'due_date', 'paid_off_time', 'past_due_days', 'age', 'education',
       'Gender'],
      dtype='object')

In [ ]:
loan.index

RangeIndex(start=0, stop=500, step=1)

In [ ]:
loan.dtypes

Loan_ID            object
loan_status        object
Principal           int64
terms               int64
effective_date     object
due_date           object
paid_off_time      object
past_due_days     float64
age                 int64
education          object
Gender             object
dtype: object

In [ ]:
loan.shape

(500, 11)

 single colum-><dataset>.['<column name>']SPECIFIED SELECTION columns datatyoe->print(type(<dataset>['<column>'])

In [ ]:
loan['education']

0      High School or Below
1                  Bechalor
2                  Bechalor
3                   college
4                   college
               ...
495    High School or Below
496    High School or Below
497                 college
498                 college
499    High School or Below
Name: education, Length: 500, dtype: object

In [ ]:
print(type(loan['education']))

<class 'pandas.core.series.Series'>

DATAFRAME->DATASET
SERIES->A COLUMN

In [ ]:
loan[['Gender','education']]

     Gender             education
0      male  High School or Below
1    female              Bechalor
2    female              Bechalor
3      male               college
4    female               college
..      ...                   ...
495    male  High School or Below
496    male  High School or Below
497    male               college
498  female               college
499    male  High School or Below

[500 rows x 2 columns]

COMMANDS ON SINGLE COLUMN
dataset['column'].unique()->unique value in series

In [ ]:
loan['education'].unique()

array(['High School or Below', 'Bechalor', 'college', 'Master or Above'],
      dtype=object)

dataset['column name'].value_counts()->no of unique values

In [ ]:
loan['education'].value_counts()

education
college                 220
High School or Below    209
Bechalor                 67
Master or Above           4
Name: count, dtype: int64

dataset['cloumn'].mean()->mean of int datatype columns
replace mean with median ->to get median

In [ ]:
loan['age'].mean()

31.116

In [ ]:
loan['age'].median()

30.0

In [ ]:
loan['Principal'].mode()

0    1000
Name: Principal, dtype: int64

SELECTING A PART OF SERIES(COLUMNS)->SLICING
Value in given nth row of sepcified column -> Dataset['column'][n]
Values in given m to n rows of sepcified
column->Dataser['column'][m:n]
INDEXING:fron 0 to n

In [ ]:
loan['education']

0      High School or Below
1                  Bechalor
2                  Bechalor
3                   college
4                   college
               ...
495    High School or Below
496    High School or Below
497                 college
498                 college
499    High School or Below
Name: education, Length: 500, dtype: object

In [ ]:
loan['education'][4]

'college'

In [ ]:
loan['due_date'][0:10]

0    10/7/2016
1    10/7/2016
2    10/7/2016
3    9/22/2016
4    10/8/2016
5    9/15/2016
6    10/8/2016
7    10/8/2016
8    10/8/2016
9    9/24/2016
Name: due_date, dtype: object

SLCICING DATAFRAME(dataset)
with GIVEN indexed rows(multiple rows)
dataset[m:n]->remember that  index here is  of a row

In [ ]:
loan[495:500]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
495,xqd20160496,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/14/2016 19:08,3.0,28,High School or Below,male
496,xqd20160497,COLLECTION_PAIDOFF,1000,15,9/12/2016,9/26/2016,10/10/2016 20:02,14.0,26,High School or Below,male
497,xqd20160498,COLLECTION_PAIDOFF,800,15,9/12/2016,9/26/2016,9/29/2016 11:49,3.0,30,college,male
498,xqd20160499,COLLECTION_PAIDOFF,1000,30,9/12/2016,11/10/2016,11/11/2016 22:40,1.0,38,college,female
499,xqd20160500,COLLECTION_PAIDOFF,1000,30,9/12/2016,10/11/2016,10/19/2016 11:58,8.0,28,High School or Below,male

SLICING DATAFRAME
IF SINGLE ROW(LOC&ILOC)
LOC->search for exact value (if m row it shows m th row only not m+1 row)
dataset.loc[m] OR dataset.loc[m:n]
ILC->search for the given index row values(if m row  m+1 row)(since index from 0)
dataset.iloc[m]
dataset.ilco[m:n]

In [ ]:
loan.loc[321]

Loan_ID                    xqd20160322
loan_status                 COLLECTION
Principal                         1000
terms                               30
effective_date               9/10/2016
due_date                     10/9/2016
paid_off_time                      NaN
past_due_days                     60.0
age                                 28
education         High School or Below
Gender                            male
Name: 321, dtype: object

In [ ]:
loan.loc[0:10]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/8/2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male
10,xqd20160011,PAIDOFF,300,7,9/10/2016,9/16/2016,9/11/2016 19:11,NaN,29,college,male

In [ ]:
loan.iloc[5]

Loan_ID               xqd20160706
loan_status               PAIDOFF
Principal                     300
terms                           7
effective_date           9/9/2016
due_date                9/15/2016
paid_off_time      9/9/2016 13:45
past_due_days                 NaN
age                            35
education         Master or Above
Gender                       male
Name: 5, dtype: object

In [ ]:
loan.iloc[2:10]

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female
5,xqd20160706,PAIDOFF,300,7,9/9/2016,9/15/2016,9/9/2016 13:45,NaN,35,Master or Above,male
6,xqd20160007,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/7/2016 23:07,NaN,29,college,male
7,xqd20160008,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/5/2016 20:33,NaN,36,college,male
8,xqd20160909,PAIDOFF,1000,30,9/9/2016,10/8/2016,10/8/2016 16:00,NaN,28,college,male
9,xqd20160010,PAIDOFF,800,15,9/10/2016,9/24/2016,9/24/2016 13:00,NaN,26,college,male

# RENAMING AND RESETTING

In [ ]:
bank = pd.read_csv("/content/BankChurners.csv")

In [ ]:
bank.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

***SETTING NEW INDEX***
dataset.set_index('name of the column u want to place in palce of index',inplace =True)

In [ ]:
bank.set_index('CLIENTNUM',inplace=True)

In [ ]:
print(bank)

              Attrition_Flag  Customer_Age Gender  Dependent_count  \
CLIENTNUM
768805383  Existing Customer            45      M                3
818770008  Existing Customer            49      F                5
713982108  Existing Customer            51      M                3
769911858  Existing Customer            40      F                4
709106358  Existing Customer            40      M                3
...                      ...           ...    ...              ...
772366833  Existing Customer            50      M                2
710638233  Attrited Customer            41      M                2
716506083  Attrited Customer            44      F                1
717406983  Attrited Customer            30      M                2
714337233  Attrited Customer            43      F                2

          Education_Level Marital_Status Income_Category Card_Category  \
CLIENTNUM
768805383     High School        Married     $60K - $80K          Blue
818770008        Graduate         Single  Less than $40K          Blue
713982108        Graduate        Married    $80K - $120K          Blue
769911858     High School        Unknown  Less than $40K          Blue
709106358      Uneducated        Married     $60K - $80K          Blue
...                   ...            ...             ...           ...
772366833        Graduate         Single     $40K - $60K          Blue
710638233         Unknown       Divorced     $40K - $60K          Blue
716506083     High School        Married  Less than $40K          Blue
717406983        Graduate        Unknown     $40K - $60K          Blue
714337233        Graduate        Married  Less than $40K        Silver

           Months_on_book  Total_Relationship_Count  ...  Credit_Limit  \
CLIENTNUM                                            ...
768805383              39                         5  ...       12691.0
818770008              44                         6  ...        8256.0
713982108              36                         4  ...        3418.0
769911858              34                         3  ...        3313.0
709106358              21                         5  ...        4716.0
...                   ...                       ...  ...           ...
772366833              40                         3  ...        4003.0
710638233              25                         4  ...        4277.0
716506083              36                         5  ...        5409.0
717406983              36                         4  ...        5281.0
714337233              25                         6  ...       10388.0

           Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  \
CLIENTNUM
768805383                  777          11914.0                 1.335
818770008                  864           7392.0                 1.541
713982108                    0           3418.0                 2.594
769911858                 2517            796.0                 1.405
709106358                    0           4716.0                 2.175
...                        ...              ...                   ...
772366833                 1851           2152.0                 0.703
710638233                 2186           2091.0                 0.804
716506083                    0           5409.0                 0.819
717406983                    0           5281.0                 0.535
714337233                 1961           8427.0                 0.703

           Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
CLIENTNUM
768805383             1144              42                1.625
818770008             1291              33                3.714
713982108             1887              20                2.333
769911858             1171              20                2.333
709106358              816              28                2.500
...                    ...             ...                  ...
772366833            15476             117                0.857
710638233             8764              69                0.683
716506083            10291              60                0.818
717406983             8395              62                0.722
714337233            10294              61                0.649

           Avg_Utilization_Ratio  \
CLIENTNUM
768805383                  0.061
818770008                  0.105
713982108                  0.000
769911858                  0.760
709106358                  0.000
...                          ...
772366833                  0.462
710638233                  0.511
716506083                  0.000
717406983                  0.000
714337233                  0.189

           Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
CLIENTNUM
768805383                                           0.000093
818770008                                           0.000057
713982108                                           0.000021
769911858                                           0.000134
709106358                                           0.000022
...                                                      ...
772366833                                           0.000191
710638233                                           0.995270
716506083                                           0.997880
717406983                                           0.996710
714337233                                           0.996620

           Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM
768805383                                           0.999910
818770008                                           0.999940
713982108                                           0.999980
769911858                                           0.999870
709106358                                           0.999980
...                                                      ...
772366833                                           0.999810
710638233                                           0.004729
716506083                                           0.002118
717406983                                           0.003294
714337233                                           0.003377

[10127 rows x 22 columns]

In [ ]:
bank.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [ ]:
bank.loc(709106358)

ValueError: No axis named 709106358 for object type DataFrame

# CREATING A NEW COLUMN
dataset["new column name"]=values(use 1 )
dataset["new column name"]=dataset["existing column"](withcondition)

In [ ]:
loan["new"]=1

In [ ]:
loan.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,new
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,1
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,1
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,1
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,1
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,1

In [ ]:
loan["del"]=loan['age']/4

In [ ]:
loan.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,new,del
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,1,11.25
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,1,12.50
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,1,8.25
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,1,6.75
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,1,7.00

In [ ]:
loan["new"]=loan["terms"]*2

In [ ]:
loan.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender,new,del
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male,60,11.25
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female,60,12.50
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female,60,8.25
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male,30,6.75
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female,60,7.00

******DELETION**************
deleting column->dataset.drop(["column names"],axis=1,inplace=True)
deleting a row->dataset.drop([m:n],axis=0,inplace=True)

In [ ]:
bank.drop(['Gender'], axis=1, inplace=True)

In [ ]:
bank.head()

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,,
768805383,Existing Customer,45,3,High School,Married,$60K - $80K,Blue,39,5,1,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,44,6,1,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,36,4,1,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
769911858,Existing Customer,40,4,High School,Unknown,Less than $40K,Blue,34,3,4,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [ ]:
loan.drop(['past_due_days'],axis=1,inplace=True)

In [ ]:
loan.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,age,education,Gender,new,del
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,45,High School or Below,male,60,11.25
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,50,Bechalor,female,60,12.50
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,33,Bechalor,female,60,8.25
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,27,college,male,30,6.75
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,28,college,female,60,7.00

In [ ]:
bank.drop(['Months_Inactive_12_mon'],axis=1,inplace=True)

In [ ]:
bank.head()

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,44,6,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,36,4,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,21,5,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,36,3,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,46,6,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988

#RENAME COLUMNS
dataset.rename(columns ={"old column name":"new column name", as many colums names as u want})

In [ ]:
bank.rename(columns={"Contacts_Count_12_mon":"Contact count"},inplace=True)

In [ ]:
bank.head()

,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Contact count,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
CLIENTNUM,,,,,,,,,,,,,,,,,,,,
818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,44,6,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,36,4,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,21,5,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,36,3,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,46,6,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988

RESET INDEX
dataset.reset_index(inplace=True)

In [ ]:
bank.reset_index(inplace=True)

In [ ]:
bank.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,44,6,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
1,713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,36,4,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
2,709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
3,713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,36,3,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
4,810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,46,6,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988

# DATA PREPROCESSING(CLEANING)
->finding null values
dataset.isnull()
TRUE->null
FALSE->not null
dataset.isnull().sum()->no of null values in each column

In [ ]:
bank.isnull()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank.isnull().sum()

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Contact count                                                                                                                         0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

***HANDLING NULL VALUES***
1.Imputation->fill/manipulate value
dataset['column name'].fillna( value(can be codition also ,inplace=True)
2.Dropping->dataset.drop(['colunmname'],axis=1,inplace=True)

In [ ]:
bank['new',]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-73-e8a96b3e736f>, line 1)

In [ ]:
bank["new"]=0

In [ ]:
bank.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,44,6,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,0
1,713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,36,4,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998,0
2,709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,21,5,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998,0
3,713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,36,3,...,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994,0
4,810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,46,6,...,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988,0

In [ ]:
bank.isnull()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank.isnull()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank.isnull()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10121,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
bank.drop(['Months_on_book'],axis=1,inplace=True)

In [ ]:
bank.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Total_Relationship_Count,Contact count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,6,2,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994,0
1,713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,4,0,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998,0
2,709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,5,0,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998,0
3,713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,3,2,...,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994,0
4,810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,6,3,...,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988,0

In [ ]:
bank.dropna(inplace=True)#rows

#REMOVE DUPLICATES
to print duplicate values i.e to check
print(dataset.duplicated())
to remove duplicates
dataset.drop_duplicates(inplace=true)

In [ ]:
print(loan.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [ ]:
print(bank.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
10120    False
10121    False
10122    False
10123    False
10124    False
Length: 10125, dtype: bool

In [ ]:
bank.drop_duplicates()

,CLIENTNUM,Attrition_Flag,Customer_Age,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Total_Relationship_Count,Contact count,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2,new
0,818770008,Existing Customer,49,5,Graduate,Single,Less than $40K,Blue,6,2,...,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940,0
1,713982108,Existing Customer,51,3,Graduate,Married,$80K - $120K,Blue,4,0,...,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980,0
2,709106358,Existing Customer,40,3,Uneducated,Married,$60K - $80K,Blue,5,0,...,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980,0
3,713061558,Existing Customer,44,2,Graduate,Married,$40K - $60K,Blue,3,2,...,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.999940,0
4,810347208,Existing Customer,51,4,Unknown,Married,$120K +,Gold,6,3,...,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.999880,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,772366833,Existing Customer,50,2,Graduate,Single,$40K - $60K,Blue,3,3,...,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810,0
10121,710638233,Attrited Customer,41,2,Unknown,Divorced,$40K - $60K,Blue,4,3,...,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729,0
10122,716506083,Attrited Customer,44,1,High School,Married,Less than $40K,Blue,5,4,...,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118,0
10123,717406983,Attrited Customer,30,2,Graduate,Unknown,$40K - $60K,Blue,4,3,...,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294,0
10124,714337233,Attrited Customer,43,2,Graduate,Married,Less than $40K,Silver,6,4,...,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377,0